export const software = [
    {
        name: "uu-notify",
        feedUrl: "https://github.com/franok/uu-notify/releases.atom",
        github: {
            org: "franok",
            repo: "uu-notify"
        }
    }
];
